$item-background-color: #0A833D;
$item-color: #fff;

// Small
// $button-size: 2em;
// $li-top: 3.4em;
// $a-size: 8em;

// Middle
$button-size: 2em;
$li-top: 3.3em;
$a-size: 10em;

// Text
// $button-size: 4.5em; 
// $li-top: 6em;
// $a-size: 14em;

$wrapper-size: $a-size * 1.75;
$li-size: $a-size;

// -------------------------------------
//   Main
// -------------------------------------

circular *, .circular * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

circular, .circular {
  position: absolute;
  top: 100%;
  left: 50%;
}


// -------------------------------------
//   central Button
// -------------------------------------

.cn-button {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 11;
  padding-top: 0em;
  border: none;
  border-radius: 50%;
  background: none;
  background-color: $item-background-color;
  color: $item-color;
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  outline: 0;

  margin-top: - $button-size / 2;
  margin-left: - $button-size / 2;
  width: $button-size;
  height: $button-size;
}

// -------------------------------------
//   Zooming
// -------------------------------------
.cn-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  -webkit-transition: all .3s ease 0.3s;
  -moz-transition: all .3s ease 0.3s;
  transition: all .3s ease 0.3s;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;

  margin-top: - $wrapper-size / 2;
  margin-left: - $wrapper-size / 2;
  width: $wrapper-size;
  height: $wrapper-size;
}

.opened-nav {
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  pointer-events: auto;
}


// -------------------------------------
//   basic Items
// -------------------------------------

.cn-wrapper li {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-top: - $li-top;
  margin-left: - $li-size;
  width: $li-size;
  height: $li-size;
  font-size: 1.3em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  pointer-events: none;
}

.cn-wrapper li a {
  position: absolute;
  right: - $a-size / 2;
  bottom: - $a-size / 2;
  width: $a-size;
  height: $a-size;
  display: block;
  border-radius: 50%;
  background: $item-background-color;
  opacity: 0.5;
  color: $item-color;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2.5;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: auto;
  cursor: pointer;
}

.cn-wrapper li a.is-active {
  opacity: 1;
}

.cn-wrapper li a:hover,
.cn-wrapper li a:active,
.cn-wrapper li a:focus {
  opacity: 0.7;
}

.cn-wrapper li a.is-active:hover,
.cn-wrapper li a.is-active:active,
.cn-wrapper li a.is-active:focus {
  opacity: 0.9;
}
.cn-wrapper li a span {
  position: relative;
  top: 1.8em;
  display: block;
  font-size: .5em;
  font-weight: 700;
  text-transform: uppercase;
}

.opened-nav li {
  -webkit-transition: all .3s ease .3s;
  -moz-transition: all .3s ease .3s;
  transition: all .3s ease .3s;
}


// -------------------------------------
//   rotated items
// -------------------------------------

@mixin prefix($property, $value) {
  @each $prefix in -webkit-, -ms-, '' {
    #{$prefix}#{$property}: $value;
  }
}

$skew: 60deg;
// odd
.item-odd-left-5 {
  @include prefix(transform, rotate(-85deg) skew($skew));
}
.item-odd-left-4 {
  @include prefix(transform, rotate(-53deg) skew($skew));
}
.item-odd-left-3 {
  @include prefix(transform, rotate(-21deg) skew($skew));
}
.item-odd-left-2 {
  @include prefix(transform, rotate(11deg) skew($skew));
}
.item-odd-left-1 {
  @include prefix(transform, rotate(43deg) skew($skew));
}
.item-odd-center {
  @include prefix(transform, rotate(75deg) skew($skew));
}
.item-odd-right-1 {
  @include prefix(transform, rotate(107deg) skew($skew));
}
.item-odd-right-2 {
  @include prefix(transform, rotate(139deg) skew($skew));
}
.item-odd-right-3 {
  @include prefix(transform, rotate(171deg) skew($skew));
}
.item-odd-right-4 {
  @include prefix(transform, rotate(203deg) skew($skew));
}
.item-odd-right-5 {
  @include prefix(transform, rotate(235deg) skew($skew));
}

// even
.item-even-left-5 {
  @include prefix(transform, rotate(-69deg) skew($skew));
}
.item-even-left-4 {
  @include prefix(transform, rotate(-37deg) skew($skew));
}
.item-even-left-3 {
  @include prefix(transform, rotate(-5deg) skew($skew));
}
.item-even-left-2 {
  @include prefix(transform, rotate(27deg) skew($skew));
}
.item-even-left-1 {
  @include prefix(transform, rotate(59deg) skew($skew));
}
.item-even-right-1 {
  @include prefix(transform, rotate(91deg) skew($skew));
}
.item-even-right-2 {
  @include prefix(transform, rotate(123deg) skew($skew));
}
.item-even-right-3 {
  @include prefix(transform, rotate(155deg) skew($skew));
}
.item-even-right-4 {
  @include prefix(transform, rotate(187deg) skew($skew));
}
.item-even-right-5 {
  @include prefix(transform, rotate(219deg) skew($skew));
}

// ----- Default -----
.cn-wrapper li {
  @extend .item-odd-center;
}
// ----- Content -----
.cn-wrapper li a {
  @include prefix(transform, skew(- $skew) rotate(-75deg)  scale(1));
}

// ----- items-1 ----- 
  .opened-nav.items-1 li:first-child {
    @extend .item-odd-center;
  }

// ----- items-2 ----- 
  .opened-nav.items-2 li:first-child {
    @extend .item-even-left-1;
  }
  .opened-nav.items-2 li:nth-child(2) {
    @extend .item-even-right-1;
  }

// ----- items-3 ----- 
  .opened-nav.items-3 li:first-child {
    @extend .item-odd-left-1;
  }

  .opened-nav.items-3 li:nth-child(2) {
    @extend .item-odd-center;
  }

  .opened-nav.items-3 li:nth-child(3) {
    @extend .item-odd-right-1;
  }

// ----- items-4 ----- 
  .opened-nav.items-4 li:first-child {
    @extend .item-even-left-2;
  }

  .opened-nav.items-4 li:nth-child(2) {
    @extend .item-even-left-1;
  }

  .opened-nav.items-4 li:nth-child(3) {
    @extend .item-even-right-1;
  }

  .opened-nav.items-4 li:nth-child(4) {
    @extend .item-even-right-2;
  }

// ----- items-5 ----- 
  .opened-nav.items-5 li:first-child {
    @extend .item-odd-left-2;
  }

  .opened-nav.items-5 li:nth-child(2) {
    @extend .item-odd-left-1;
  }

  .opened-nav.items-5 li:nth-child(3) {
    @extend .item-odd-center;
  }

  .opened-nav.items-5 li:nth-child(4) {
    @extend .item-odd-right-1;
  }

  .opened-nav.items-5 li:nth-child(5) {
    @extend .item-odd-right-2;
  }

// ----- items-6 ----- 
  .opened-nav.items-6 li:first-child {
    @extend .item-even-left-3;
  }

  .opened-nav.items-6 li:nth-child(2) {
    @extend .item-even-left-2;
  }

  .opened-nav.items-6 li:nth-child(3) {
    @extend .item-even-left-1;
  }

  .opened-nav.items-6 li:nth-child(4) {
    @extend .item-even-right-1;
  }

  .opened-nav.items-6 li:nth-child(5) {
    @extend .item-even-right-2;
  }

  .opened-nav.items-6 li:nth-child(6) {
    @extend .item-even-right-3;
  }

// ----- items-7 ----- 
  .opened-nav.items-7 li:first-child {
    @extend .item-odd-left-3;
  }

  .opened-nav.items-7 li:nth-child(2) {
    @extend .item-odd-left-2;
  }

  .opened-nav.items-7 li:nth-child(3) {
    @extend .item-odd-left-1;
  }

  .opened-nav.items-7 li:nth-child(4) {
    @extend .item-odd-center;
  }

  .opened-nav.items-7 li:nth-child(5) {
    @extend .item-odd-right-1;
  }

  .opened-nav.items-7 li:nth-child(6) {
    @extend .item-odd-right-2;
  }

  .opened-nav.items-7 li:nth-child(7) {
    @extend .item-odd-right-3;
  }

// ----- items-8 ----- 
  .opened-nav.items-8 li:first-child {
    @extend .item-even-left-4;
  }

  .opened-nav.items-8 li:nth-child(2) {
    @extend .item-even-left-3;
  }

  .opened-nav.items-8 li:nth-child(3) {
    @extend .item-even-left-2;
  }

  .opened-nav.items-8 li:nth-child(4) {
    @extend .item-even-left-1;
  }

  .opened-nav.items-8 li:nth-child(5) {
    @extend .item-even-right-1;
  }

  .opened-nav.items-8 li:nth-child(6) {
    @extend .item-even-right-2;
  }

  .opened-nav.items-8 li:nth-child(7) {
    @extend .item-even-right-3;
  }

  .opened-nav.items-8 li:nth-child(8) {
    @extend .item-even-right-4;
  }

// ----- items-9 ----- 
  .opened-nav.items-9 li:first-child {
    @extend .item-odd-left-4;
  }
  .opened-nav.items-9 li:nth-child(2) {
    @extend .item-odd-left-3;
  }

  .opened-nav.items-9 li:nth-child(3) {
    @extend .item-odd-left-2;
  }

  .opened-nav.items-9 li:nth-child(4) {
    @extend .item-odd-left-1;
  }

  .opened-nav.items-9 li:nth-child(5) {
    @extend .item-odd-center;
  }

  .opened-nav.items-9 li:nth-child(6) {
    @extend .item-odd-right-1;
  }

  .opened-nav.items-9 li:nth-child(7) {
    @extend .item-odd-right-2;
  }

  .opened-nav.items-9 li:nth-child(8) {
    @extend .item-odd-right-3;
  }

  .opened-nav.items-9 li:nth-child(9) {
    @extend .item-odd-right-4;
  }

// ----- items-10 ----- 
  .opened-nav.items-10 li:first-child {
    @extend .item-even-left-5;
  }

  .opened-nav.items-10 li:nth-child(2) {
    @extend .item-even-left-4;
  }

  .opened-nav.items-10 li:nth-child(3) {
    @extend .item-even-left-3;
  }

  .opened-nav.items-10 li:nth-child(4) {
    @extend .item-even-left-2;
  }

  .opened-nav.items-10 li:nth-child(5) {
    @extend .item-even-left-1;
  }

  .opened-nav.items-10 li:nth-child(6) {
    @extend .item-even-right-1;
  }

  .opened-nav.items-10 li:nth-child(7) {
    @extend .item-even-right-2;
  }

  .opened-nav.items-10 li:nth-child(8) {
    @extend .item-even-right-3;
  }

  .opened-nav.items-10 li:nth-child(9) {
    @extend .item-even-right-4;
  }

  .opened-nav.items-10 li:nth-child(10) {
    @extend .item-even-right-5;
  }

// ----- items-11 ----- 
  .opened-nav.items-11 li:first-child {
    @extend .item-odd-left-5;
  }

  .opened-nav.items-11 li:nth-child(2) {
    @extend .item-odd-left-4;
  }

  .opened-nav.items-11 li:nth-child(3) {
    @extend .item-odd-left-3;
  }

  .opened-nav.items-11 li:nth-child(4) {
    @extend .item-odd-left-2;
  }

  .opened-nav.items-11 li:nth-child(5) {
    @extend .item-odd-left-1;
  }

  .opened-nav.items-11 li:nth-child(6) {
    @extend .item-odd-center;
  }

  .opened-nav.items-11 li:nth-child(7) {
    @extend .item-odd-right-1;
  }

  .opened-nav.items-11 li:nth-child(8) {
    @extend .item-odd-right-2;
  }

  .opened-nav.items-11 li:nth-child(9) {
    @extend .item-odd-right-3;
  }

  .opened-nav.items-11 li:nth-child(10) {
    @extend .item-odd-right-4;
  }

  .opened-nav.items-11 li:nth-child(11) {
    @extend .item-odd-right-5;
  }